* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #23252C;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.DP {
    width: 265px;
    height: 265px;
    border-radius: 10px 10px 0px 0px;
}

.container {
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 10px rgb(0, 0, 0, 0.2);
    width: min-content;
}

.name {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30.26px;
    text-align: center;
    color: white;
    margin: 7px;

}

.dev {
    color: #F3BF99;
    text-align: center;
    margin: -5px;
    padding-bottom: 20px;
    font-weight: 300;
    font-family: Inter, sans-serif;
    font-size: 13.8px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.abt,
.int {
    color: #DCDCDC;
    font-size: 13px;
    padding-left: 20px;
    font-family: Inter, sans-serif;
    padding-right: 15px;
}


h1 {
    font-weight: 700;
    font-size: 19px;
    color: white;
    padding-left: 20px;
    font-family: Inter, sans-serif;
}

.button2 {
    background-color: #5093E2;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 90px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.button1 {
    background-color: white;
    color: #374151;
    border-radius: 5px;
    width: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    height: -webkit-fill-available;
}

.tags {
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-around;

}

.fa-facebook,
.fa-github,
.fa-instagram,
.fa-twitter {
    text-decoration: none;
    cursor: pointer;
    background-color: #918E9B;
    margin: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
    display: inline-grid;
    align-items: center;
}

footer {
    padding-top: 2px;
    margin-top: 1px;
}

a:hover {
    opacity: 0.7;
    transition: 0.4s;
}

@media (prefers-reduced-motion: no-preference) {

    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.logo {
    width: 30px;
    height: 30px;
}

.logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}